.sidebar-container {
  height: 100%;
  background-color: var(--background);
  position: relative;
  padding: calc(var(--spacing-unit) * 3);
  gap: calc(var(--spacing-unit) * 8);
  display: flex;
  flex-direction: column;

  &__slider {
    height: 100%;
    background-color: transparent;
    width: 7px;
    cursor: col-resize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transform: translateX(7px);

    &:hover {
      .sidebar-container__slider-trigger {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &-trigger {
      height: 98%;
      border-radius: 10px;
      background-color: transparent;
      width: 1px;
      cursor: col-resize;
    }
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 2);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 8);
}

.sidebar-library {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 2);
}
