.catalogue {
  display: flex;
  width: 100%;
  padding: calc(var(--spacing-unit) * 12);
  gap: calc(var(--spacing-unit) * 12);
  margin-top: calc(var(--spacing-unit) * 14);

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: calc(var(--spacing-unit) * 8);
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: calc(var(--spacing-unit) * 3);
  }

  &__sidebar-filter {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);
  }

  &__title {
    font-weight: 500;

    > q {
      display: inline-block;
      max-width: 600px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
    }
  }

  &__header-filters {
    display: flex;
    gap: calc(var(--spacing-unit) * 3);
    flex-wrap: wrap;
  }

  &__clear-button {
    padding: calc(var(--spacing-unit) * 2);
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__clear-text {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--spacing-unit) * 6) calc(var(--spacing-unit) * 4);
  }

  &__grid-item {
    display: flex;
    flex-direction: column;
  }
}

.filter-section {
  &__item {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__empty {
    &__text {
      color: var(--text-secondary);
      margin-top: calc(var(--spacing-unit) * 3.5);
    }
  }
}
