.catalogue-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  padding: calc(var(--spacing-unit) * 12);
  justify-content: space-between;
  gap: calc(var(--spacing-unit) * 12);
}

.catalogue-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.catalogue-filters {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  gap: calc(var(--spacing-unit) * 3);

  &__container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);
    width: 100%;
  }
}

.filter-section__item {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.filter-section__empty__text {
  color: var(--text-secondary);
  margin-top: calc(var(--spacing-unit) * 3.5);
}
