.divider {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  min-width: 1px;
  min-height: 1px;

  &--horizontal {
    width: 100%;
    height: 1px;
  }

  &--vertical {
    width: 1px;
    height: 100%;
  }
}

.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  &[data-gap="4"] {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &[data-gap="8"] {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &[data-gap="16"] {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &[data-gap="24"] {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &[data-gap="32"] {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &--collapsed {
    padding-left: 12px;
    padding-right: 12px;
  }
}
