.game-page {
  &__how-long-to-beat-duration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4;
    flex: 1;
    height: 91px;
    min-height: 91px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__content {
    padding: calc(var(--spacing-unit) * 6) calc(var(--spacing-unit) * 24);
  }

  &__sidebar {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__how-long-to-beat-title {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__playtime-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
    height: 76px;
    border-radius: 8px;
    padding: calc(var(--spacing-unit) * 4);
  }

  &__hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    z-index: 0;
  }

  &__hero-overlay {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    background:
      linear-gradient(
        90deg,
        #080808 0%,
        rgba(8, 8, 8, 0) 25%,
        rgba(8, 8, 8, 0) 75%,
        #080808 99.53%
      ),
      linear-gradient(180deg, rgba(8, 8, 8, 0) 0%, #080808 97%);
    padding: calc(var(--spacing-unit) * 12) calc(var(--spacing-unit) * 24);
    gap: calc(var(--spacing-unit) * 6);
  }

  &__achievement {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) * 4);
  }

  &__achievement-icon {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &__achievement-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-unit);
  }

  &__detailed-description {
    color: rgba(255, 255, 255, 0.8);

    img {
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
      border-radius: 8px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__box-group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);
    width: 100%;

    > * {
      border-radius: 8px;
    }

    > *:first-child:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    > *:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    > *:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  &__requirements {
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing-unit) * 4);
    }
  }

  &__legal-notice {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
  }
}
